#catalog-taro {
  .offer {
    &__title {
      max-width: 620px;

      &-word {
        @include mobile {
          &::after {
            content: '\A';
            white-space: pre;
          }
        }
      }
    }

    &__right {
      max-width: 410px;
    }
  }
}
