.mak {
  &__top {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-top: 20px;
  }

  &__img {
    width: 100%;
    margin-top: 40px;
  }

  @include tablet {
    &__text {
      max-width: 500px;
      margin-inline: auto;
    }

    &__img {
      width: 100%;
      height: 480px;
      object-fit: cover;
    }
  }
}
