.offer {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
  min-height: 720px;
  padding-top: 120px;
  padding-bottom: 60px;

  &__bg {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(
      to bottom,
      black 0%,
      black 85%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      black 0%,
      black 80%,
      transparent 100%
    );
  }

  &__w {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 40px;
    width: 100%;
  }

  &__left {
    max-width: 920px;
  }

  &__text {
    max-width: 325px;

    @include tablet {
      @include visually-hidden;
    }

    &-mobile {
      max-width: 480px;
      margin-top: 16px;

      @include tablet-above {
        @include visually-hidden;
      }
    }
  }

  &__text {
    p {
      &:last-of-type {
        margin-top: 8px;
        opacity: 0.5;
      }
    }
  }

  &__action {
    display: flex;
    gap: 12px;
    margin-top: 32px;
  }

  &-cat {
    .offer__title {
      max-width: 620px;
    }

    .offer__text {
      max-width: 410px;
    }
  }

  @include tablet {
    &__w {
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }

    &__title {
      max-width: 720px;
    }
  }

  @include mobile {
    &__action {
      flex-direction: column;
    }
  }
}
