.day {
  @include visually-hidden;

  &__wrapper {
    position: relative;
    display: flex;
    gap: 24px;
    width: 100%;
    transform: perspective(1200px);
    perspective: 1200px;
    perspective: 1200px;
  }

  &__card {
    height: 100%;
    padding: 32px;
    border: 1px solid #424241;
  }

  &__flipped {
    position: relative;
    width: 400px;
    height: 680px;
    transition: all 0.5s ease-out;
    transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  &__close,
  &__open {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    backface-visibility: hidden;
    backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &__open {
    transform: rotateY(180deg);
    transform: rotateY(180deg);
    transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  &__descr {
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 24px;
    border: 1px solid #424241;

    @include flex-column;
  }

  &__action {
    width: 100%;
  }

  &__btn {
    width: 100%;
  }

  .flipped {
    transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  @media (width <= 1180px) {
    &__flipped {
      width: 360px;
      height: 650px;
    }
  }

  @include tablet {
    &__flipped {
      width: 260px;
      height: 540px;
    }
  }

  @include mobile {
    &__wrapper {
      flex-direction: column;
    }
  }
}
