.library {
  &__w {
    display: flex;

    &-t {
      display: flex;
      width: calc(50% + 16px);

      &:last-of-type {
        margin-left: -32px;
      }
    }
  }

  &__card {
    aspect-ratio: 1/1;
    width: 100%;
    padding: 28px;
    font-family: var(--font-heading);
    border-width: 2px;
    border-style: dashed;
    border-color: #ffffff20;
    border-radius: 100%;

    @include flex-center;
    @include fluid-text(32, 24);

    &:first-of-type {
      margin-right: -32px;
    }

    &:last-child {
      border-style: solid;
      border-color: #ffffff;
    }
  }

  &__text {
    text-align: center;
  }

  &__btn {
    margin-top: 24px;
    width: 100%;
    @include tablet-above {
      display: none;
    }
  }

  & .btn-primary {
    width: 100%;
  }

  @include laptop {
    &__text {
      @include fluid-text(28, 24);
    }
  }

  @include tablet {
    &__w {
      flex-direction: column;

      &-t {
        width: 100%;

        &:last-of-type {
          flex-direction: row-reverse;
          margin-top: -32px;
          margin-left: 0;

          .library__card {
            margin-right: -32px;

            &:first-of-type {
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
      }
    }

    &__card {
      width: calc(50% + 16px);
    }
  }

  @media (width <= 576px) {
    &__w {
      &-t {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:last-of-type {
          flex-direction: column;
          margin-top: -32px;

          .library__card {
            margin-right: 0;

            &:first-of-type {
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
      }
    }

    &__card {
      width: 100%;
      max-width: 320px;
      margin-left: 0;
      margin-right: 0;

      &:first-of-type {
        margin-bottom: -32px;
        margin-right: 0;
      }
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: #00000070;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  cursor: default;

  transition: opacity 0.2s ease-in-out;

  &.active {
    z-index: 1000;
    opacity: 1;
    pointer-events: all;
  }

  &__w {
    padding: 40px;
    background: #181818;
    max-width: 1100px;
    border-radius: 24px;
  }
  &__title {
    margin-bottom: 32px;
    text-align: center;
  }
  &__list {
    display: flex;
    align-items: stretch;
    gap: 16px;
  }
  &__card {
    flex: 1;
    text-align: center;
  }
  &__img {
    height: 300px;
    margin-bottom: 16px;
    object-fit: cover;
  }
  &__btn {
    width: 100%;
  }
  &__line {
    width: 1px;
    background: #2b2b2a;
  }

  @include laptop {
    &__w {
      max-width: 920px;
    }
  }
  @include tablet {
    padding: 48px;
    &__title {
      margin-bottom: 24px;
    }
    &__w {
      max-width: 100%;
      padding: 24px;
    }
    &__img {
      height: 220px;
    }
  }
  @include mobile {
    padding: 24px;
    &__list {
      flex-direction: column;
    }
    &__line {
      width: 100%;
      height: 1px;
    }
    &__img {
      height: 240px;
    }
  }
  @include mobile-m {
  }
  @include mobile-s {
    padding: 16px;
    &__img {
      height: 160px;
    }
  }
}
