.space {
  padding: 140px 0 280px;
  overflow: hidden;

  &__w {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    max-height: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .container {
    position: relative;
  }

  &__path {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background: url('/src/assets/images/homepage/big-ellipse.svg') no-repeat
      center / cover;
  }

  &__card {
    position: absolute;
    width: 300px;
    height: 370px;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      object-fit: contain;
      transition: all 0.9s ease;
      filter: drop-shadow(0 4px 25px rgba(158, 99, 43, 0.11));
      @include hover {
        transform: scale(1.01);
        filter: drop-shadow(0 6px 35px rgba(158, 99, 43, 0.2));
      }
    }
  }

  @include hover {
    z-index: 20;
  }

  &__cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    max-width: 700px;
    @include flex-column;
    gap: 24px;
    align-items: center;
    &-circ {
      position: absolute;
      margin: auto;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      @include square(920px);
      background: url('/src/assets/images/homepage/small-ellipse.svg') no-repeat
        center / cover;
    }
  }
  &__mid {
    @include flex-column;
    gap: 16px;
  }
  &__action {
    @include flex-column;
    gap: 12px;
    max-width: 340px;
    width: 100%;
    .btn {
      width: 100%;
    }
  }

  @include laptop {
    &__card {
      width: 260px;
      height: 320px;
    }
  }

  @include tablet {
    &__path {
      display: none;
    }
    &__list {
      display: none;
    }
  }
}
