.comm {
  &__top {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 40px;

    p {
      margin-top: 20px;
      opacity: 0.8;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  @include tablet {
    &__text {
      p {
        max-width: 530px;
        margin-inline: auto;
      }
    }
  }
}
