html {
  &.is-lock {
    overflow: hidden;
  }
}

html {
  overflow-x: hidden;
}

body {
  @include fluid-text(20, 15);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-text);
  color: var(--white);
  background-color: var(--black);
}

body.texture {
  background-image: url('/src/assets/images/pattern.png');
  background-position: left top;
  background-repeat: repeat-y;
}

h1,
.h1 {
  @include fluid-text(80, 40);

  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

h2,
.h2 {
  @include fluid-text(64, 32);

  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

h3,
.h3 {
  @include fluid-text(36, 22);

  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

h4,
.h4 {
  @include fluid-text(24, 18);

  font-family: var(--font-text);
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.02em;
}

h5,
.h5 {
  @include fluid-text(20, 14);

  font-family: var(--font-text);
  font-weight: 400;
  line-height: 1.2;
}

h6,
.h6 {
  @include fluid-text(18, 142);

  font-family: var(--font-text);
  font-weight: 400;
  line-height: 1.2;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
ol,
li,
textarea,
input,
img,
svg,
select,
label {
  margin: 0;
  padding: 0;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-time);
}

section {
  margin-bottom: 140px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include mobile {
    margin-bottom: 80px;
  }
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}

.opa-5 {
  opacity: 0.5;
}

.opa-6 {
  opacity: 0.6;
}

.opa-7 {
  opacity: 0.7;
}

.opa-8 {
  opacity: 0.8;
}

.opa-9 {
  opacity: 0.9;
}

.text-1 {
  @include fluid-text(20, 15);

  line-height: 1.3;
}

.text-2 {
  @include fluid-text(18, 14);

  line-height: 1.4;
}

.text-3 {
  @include fluid-text(16, 13);

  line-height: 1.4;
}

.big-text-l {
  @include fluid-text(28, 18);

  line-height: 1.4;
}

.big-text-m {
  @include fluid-text(24, 16);

  line-height: 1.4;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 24px;
  margin-bottom: -24px;
  font-size: 16px;

  a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    opacity: 0.2;

    &::after {
      content: '';
      width: 8px;
      height: 12px;
      background: url('/src/assets/icons/arrow-next.svg') no-repeat center /
        contain;
    }

    @include hover {
      opacity: 0.3;
    }
  }

  @include laptop {
    margin-bottom: 8px;
  }

  @include tablet {
    margin-bottom: 48px;
    font-size: 14px;
  }

  @include mobile-s {
    font-size: 12px;
  }
}

.gsap-smooth {
  opacity: 0;
  transform: translateY(30px);
}
