:root {
  --black: #0c0c0b;
  --white: #ffffff;
  --snow: #f1f1f1;
  --accent-hover: #986a3e;
  --accent-active: #9e632b;

  --font-text: 'VelaSansGX', sans-serif;
  --font-heading: 'Forum', sans-serif;
  --transition-time: 0.25s;
  --transition: all var(--transition-time) ease-in;
}
