.taro-read {
  &__w {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 40px;
  }

  &__image {
    position: relative;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: end;
    width: 100%;
    height: 210px;
    padding: 32px;
    background: #131313;
    border: 1px solid #ffffff40;
    border-radius: 10px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__descr {
    position: relative;
    z-index: 12;
  }
  &__card {
    display: flex;
    flex-direction: column;
  }

  &__content {
    z-index: 8;
    margin-top: -16px;
    padding: 48px 32px 32px;
    background: #131313;
    border: 1px solid #ffffff40;
    border-radius: 10px;
    height: 100%;
  }

  &__bottom {
    margin-top: 24px;

    @include flex-column;
  }

  &__point h5 {
    margin-bottom: 8px;
  }

  @include tablet {
    &__w {
      display: flex;
      flex-direction: column;
    }
  }
}
