.first {
  overflow: hidden;
  padding-top: 160px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ffffff20;

  &__w {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto 1fr;
    gap: 80px;
  }

  &__left {
    @include flex-column;

    justify-content: end;
  }

  &__main {
    position: relative;

    span {
      position: absolute;
      z-index: 3;
      top: 10%;
      left: 5%;
      width: 90%;
      height: 100%;
      background: #ffffff40;
      border-radius: 100%;
      filter: blur(90px);
    }
  }

  &__img {
    position: relative;
    z-index: 4;
    width: auto;
    height: 580px;
  }

  &__right {
    align-self: flex-end;
    max-width: 325px;
    margin-left: auto;
  }

  &__action {
    @include flex-column;

    align-items: stretch;
    gap: 6px;
    margin-top: 24px;

    .btn-marketplace {
      .icon {
        height: 20px;
      }

      &-wb {
        .icon {
          width: 42px;
        }
      }

      &-ozon {
        .icon {
          width: 66px;
        }
      }
    }
  }

  @include laptop {
    &__w {
      gap: 32px;
    }
  }

  @include tablet {
    &__w {
      grid-template-columns: 1fr;
      grid-auto-rows: auto auto auto;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    &__main {
      grid-column: 1/2;
      grid-row: 1/2;
      width: fit-content;
      height: 480px;
      margin: 0 auto;

      span {
        top: 0;
      }
    }

    &__img {
      width: auto;
      height: 100%;
      margin: 0 auto;
      object-fit: cover;
    }

    &__title {
      max-width: 580px;
      margin: 0 auto;
      margin-top: 12px;
      text-align: center;
    }

    &__right {
      width: 100%;
      min-width: 100%;
      margin: 0 auto;
    }

    &__descr {
      max-width: 640px;
      margin: 0 auto;
      text-align: center;
    }
  }
}
