.footer {
  border-top: 1px solid #2d2d2d;

  .container {
    display: flex;
  }

  &__left {
    @include flex-column;

    justify-content: space-between;
    width: 100%;
    padding-block: 32px 44px;
    padding-right: 32px;
    font-size: 18px;
    color: #6e6e6e;
    border-right: 1px solid #2d2d2d;
  }

  &__col {
    @include flex-column;

    gap: 20px;
  }

  &__center {
    @include flex-column;
    justify-content: space-between;
    padding: 32px 32px 44px;
    border-right: 1px solid #2d2d2d;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
  }

  &__list {
    gap: 20px;
    width: fit-content;

    @include flex-column;
  }

  &__contacts {
    @include fluid-text(32, 24);

    position: relative;
    font-weight: 500;
    letter-spacing: 0;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      display: block;
      width: 0%;
      height: 1px;
      background: #ffffff;
      transition: width var(--transition-time) ease-out;
    }

    @include hover {
      &::before {
        width: 100%;
      }
    }
  }

  &__action {
    display: flex;
    gap: 8px;
    width: fit-content;
    margin-top: 32px;
  }

  &__btn {
    padding: 16px 20px;
  }

  &__right {
    width: 100%;
    max-width: 530px;
    padding-block: 32px 44px;
    padding-left: 32px;
  }

  &__input {
    margin-bottom: 16px;
  }

  &__submit {
    width: 100%;
  }

  .logo {
    min-width: 240px;
    min-height: 29px;
  }

  @include tablet {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      padding: 0;
    }

    &__left {
      grid-column: 1/3;
      grid-row: 2/3;
      flex-direction: row;
      gap: 48px;
      padding: 24px;
      border-top: 1px solid #2d2d2d;
      border-right: none;
    }

    &__center {
      padding: 24px;
    }

    &__right {
      padding: 24px;
    }

    &__bottom {
      gap: 92px;
      width: auto;
    }

    &__action {
      flex-direction: column;
    }
  }

  @include mobile-m {
    .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      padding: 0;
    }

    &__left {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    &__left {
      flex-direction: column;
      align-items: center;
      gap: 48px;
      padding: 24px 16px 32px;
      border-top: 1px solid #2d2d2d;
    }

    &__bottom {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }

    &__col {
      align-items: center;
      gap: 20px;
    }

    &__center {
      gap: 32px;
      width: 100%;
      padding: 24px 16px;
      text-align: center;
      border-right: 0;
    }

    &__title {
      width: 100%;
    }

    &__menu {
      @include flex-column;

      justify-content: center;
      align-items: center;
      gap: 32px;
      width: 100%;
    }

    &__list {
      align-items: center;
    }

    &__action {
      width: 100%;
      margin-top: 0;
    }

    &__right {
      max-width: 100%;
      padding: 24px 16px;
      border-top: 1px solid #2d2d2d;
      border-left: 0;
    }
  }
}
